/** Add css rules here for your application. */

body {
	background: #444444;
}
#content {
	width: 550px;
	background: #e0e0ff;
	margin-left: auto;
	margin-right: auto;
	padding-left: 25px;
	padding-right: 25px;
	border: 1px solid #ddffee;
}
p:first-letter {
	font-weight: bold;
}
p:first-line {
	font-size: 110%;
}
p {
	text-align: justify;
}
